body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    border-top: 5px rgb(120, 4, 4) double;
    border-bottom: 5px rgb(120, 4, 4) double;
    background-color: rgb(220, 167, 167);
    color: rgb(120, 4, 4);
    height: 70px;
    font-size: 30px;
    font-weight: 800;
    padding-left: 20%;
    line-height: 70px;
}
h4 {
    font-weight: 600;
}
.week {
    border: 3px solid blue;
    margin-top: 20px;
    width: 75%;
    height: 200px;
    margin-left: 5%;
    background-color: rgb(169, 169, 254);
}
.week1, .week2 {
    font-size: 20px;
    font-weight: 700;
    color: blue;
    padding-top: 20px;
    padding-bottom: 30px;
}
li {
    margin-left: 50px;
    line-height: 20px;
    font-size: 15px;
    color: black;
    font-weight: 550;
}
.li-first {
    margin-top: 20px;
}
span, .li-third {
    color: red;
}