body {
    margin: 0;
}
header {
    width: 100%;
    height: 100px;
    background-color: rgb(111, 14, 201);
    margin-top: -22px;
}
header>.container {
    padding-top: 20px;
}
h1 {
    color: white;
    margin-left: 15%;
}
.container {
    width: 100%;
}
h2 {
    margin-left: 15%;
}
.card-row {
    width: 70%;
    padding-left: 15%;
}
.card {
    border: 2px solid rgb(204, 204, 204);
    padding: 15px;
}
img {
    display: block;
    width: 100%;
}
h3 {
    color: rgb(111, 14, 201);
}
em {
    background-color: rgb(214, 172, 254);
}
.button {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(111, 14, 201);
}
